@import './variables.scss';

.app {
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        line-height: 1.4;
        opacity: 0.5;
        p {
            font-size: 0.8em;
            font-weight: 700;
        }
        span {
            font-size: 0.7em;
        }
    }
}
